<div class="jumbotron">
  <h1>Saved Articles</h1>
  <p>Here are your saved articles!</p>
</div>
{{#each article.saved}}

  <div class="input-group articles-list">
    <a href="{{this.link}}" target="_blank" class="form-control">{{this.title}}</a>
    <form action="/savedArticles/{{this.id}}" method="GET">
    <form action="/articles/{{../article.id}}/delete/{{this.id}}" method="POST">
    <button type="submit" class="btn btn-secondary">Mark Read</button>
    </form>
    </span>
    <span class="input-group-btn">
      <form action='/articles/{{this.saved}}' method="GET">
      <button type="submit" class="btn btn-secondary">Comment</button>
      </form>
    </span>
  </div>
  <br>
{{/each}}<span class="input-group-btn">



  {{#each article.comments}}
    <div class="panel panel-default">
      <div class="panel-heading input-group">
        <h3 class="panel-title">{{this.title}}</h3>
        <span class="input-group-btn">
          <form action="/articles/{{../article.id}}/delete/{{this.id}}" method="POST">
          <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </span>
    </div>
    <div class="panel-body">
      {{this.body}}
    </div>
  </div>
  {{/each}}